@media screen and (max-width: 1100px) {
    #nav{
        position: absolute;
        z-index: 10;
        width: 80vw;
        max-width: 400px;
        height: 100vh;
        display: none;
    }
    #content{
        width: 100%;
    }
    
}
@media screen and (min-width: 1101px){
    #nav{
        min-width: 400px;
    }
    #content{
        min-width: 800px;
        max-width: 50vw;
    }
    #logo{
        height: 4vw;
        width: 7.11vw;
    }
}

.side-logo{
    width: 110px;
    height: 60px;
    margin-right: -30px;
    margin-left: -20px;
}

#orcha-heading{
    margin: 0;
}
#logo{
    margin: -30px;
}
.horizTranslate {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0% !important;
  }

@media screen and (max-width: 800px) {
    #orcha-heading{
        font-size: 30px;
    }
    #welcome{
        font-size: 45px;
    }
}
@media screen and (min-width: 800px) {
    #orcha-heading{
        font-size: 3vw;
    }
    #welcome{
        font-size: 5vw;
    }
}

.user-text{
    background-color: rgb(51, 47, 47);
    color: white;
    padding: 15px;
    border-radius: 20px;
    /* min-width: 50vw; */
    max-width: 80vw;
    display: flex;
    margin:20px;
    word-wrap: break-word;
    word-break: break-all;
}
.machine-text{
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.user-text-container{
    display: flex;
    justify-content: end;
}
.machine-container{
    display: flex;
    align-items: center;
}
/* .require-blur{
    backdrop-filter: blur(10px);
} */